.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #FFF;
	border-bottom-color: #FF3D00;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 0.7s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
 }
 @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
 
	100% {
	  transform: rotate(360deg);
	}
 }

body{
background-color: #fefae0;
color: #10451D;
}
.chakra-petch-regular {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 400;
	font-style: normal;
 }

 .container{
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	background-color: #B7EFC5;

	max-width: 1200px;
 }

.flex_center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.main{
	flex:1;
	padding: 0 10px;


}


.main_container{

	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;


}
h1, .title{
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
}
.header{
	position: relative;
	min-height: 90px;
	position: sticky;
	background-color: #4AD66D;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.8;
	display: flex;
	align-items: center;
	gap: 20px;

}
.header_nav{
	display: none;
}
.logo{
	margin-left: 20px;
}

.weather_card{
	border: 1px solid #10451D;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
	width: 100%;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.weather_card p {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}
.weather_card p span{
	color: #B7EFC5;
	font-style: italic;
}

.footer{
	min-height: 60px;
	background-color: #155D27;
	color:#fefae0 ;
}

@media only screen and (min-width: 767px) {
	.weather_card{
		width: 50%;
		max-width: 500px;
	}
	h1, .title{
		font-size: 40px;
		
	}
	.header_nav{
		display: flex;
		gap: 20px;

	}
	.link_box{
		border: 1px solid #10451D;
		padding: 10px;
		border-radius: 10px;
	background: none;
		transition: all 0.3s ease 0s;

	}
	.link_box:hover{
		border: 1px solid #B7EFC5;
		background: #11998e;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		
	}

	.link_box a{
		text-decoration: none;
		color: #10451D;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
		transition: all 0.3s ease 0s;
	}
	.link_box:hover a{
		color:#B7EFC5;
	}


	
	
 }